In [64]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from scipy.stats import ttest_rel
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [46]:
df=pd.read_csv('/Users/liuaohan/Desktop/paper3database.csv')
df

,GVKEY,LPERMNO,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,...,xsgaq,capxy,chechy,fincfy,oancfy,rdipy,xrdy,costat,prccq,gsector
0,1001,10015,1983-09-30,1983,3,INDL,C,D,STD,USD,...,4.008,NaN,NaN,NaN,NaN,NaN,NaN,I,6.125,25.0
1,1001,10015,1983-12-31,1983,4,INDL,C,D,STD,USD,...,5.190,NaN,NaN,NaN,NaN,NaN,NaN,I,7.250,25.0
2,1001,10015,1984-03-31,1984,1,INDL,C,D,STD,USD,...,4.257,1.073,NaN,NaN,NaN,NaN,NaN,I,6.375,25.0
3,1001,10015,1984-06-30,1984,2,INDL,C,D,STD,USD,...,4.658,2.350,NaN,NaN,NaN,NaN,NaN,I,5.750,25.0
4,1001,10015,1984-09-30,1984,3,INDL,C,D,STD,USD,...,5.025,3.622,NaN,NaN,NaN,NaN,NaN,I,4.625,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610008,244818,89274,2002-03-31,2002,1,INDL,C,D,STD,USD,...,NaN,NaN,NaN,NaN,NaN,0.0,0.502,I,12.850,20.0
610009,252940,75811,2001-06-30,2001,1,INDL,C,D,STD,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,8.460,40.0
610010,252940,75811,2001-09-30,2001,2,INDL,C,D,STD,USD,...,2481.304,NaN,NaN,NaN,NaN,NaN,NaN,A,7.750,40.0
610011,252940,75811,2001-12-31,2001,3,INDL,C,D,STD,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,6.470,40.0
610012,252940,75811,2002-03-31,2001,4,INDL,C,D,STD,USD,...,1975.696,NaN,NaN,NaN,NaN,NaN,NaN,A,6.150,40.0

In [47]:
df=df.drop(columns=['consol','popsrc','indfmt','datafmt','curcdq','costat','GVKEY']) #drop useless data
df

,LPERMNO,datadate,fyearq,fqtr,datacqtr,datafqtr,scfq,actq,ancq,atq,...,xrdq,xsgaq,capxy,chechy,fincfy,oancfy,rdipy,xrdy,prccq,gsector
0,10015,1983-09-30,1983,3,1983Q3,1983Q3,NaN,1.877,7.571,9.448,...,NaN,4.008,NaN,NaN,NaN,NaN,NaN,NaN,6.125,25.0
1,10015,1983-12-31,1983,4,1983Q4,1983Q4,NaN,4.807,9.273,14.080,...,NaN,5.190,NaN,NaN,NaN,NaN,NaN,NaN,7.250,25.0
2,10015,1984-03-31,1984,1,1984Q1,1984Q1,1.0,4.027,10.110,14.137,...,NaN,4.257,1.073,NaN,NaN,NaN,NaN,NaN,6.375,25.0
3,10015,1984-06-30,1984,2,1984Q2,1984Q2,1.0,4.053,11.099,15.152,...,NaN,4.658,2.350,NaN,NaN,NaN,NaN,NaN,5.750,25.0
4,10015,1984-09-30,1984,3,1984Q3,1984Q3,1.0,4.129,12.046,16.175,...,NaN,5.025,3.622,NaN,NaN,NaN,NaN,NaN,4.625,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610008,89274,2002-03-31,2002,1,2002Q1,2002Q1,NaN,NaN,NaN,NaN,...,0.502,NaN,NaN,NaN,NaN,NaN,0.0,0.502,12.850,20.0
610009,75811,2001-06-30,2001,1,2001Q2,2001Q1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.460,40.0
610010,75811,2001-09-30,2001,2,2001Q3,2001Q2,NaN,NaN,NaN,750510.311,...,NaN,2481.304,NaN,NaN,NaN,NaN,NaN,NaN,7.750,40.0
610011,75811,2001-12-31,2001,3,2001Q4,2001Q3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.470,40.0
610012,75811,2002-03-31,2001,4,2002Q1,2001Q4,NaN,NaN,NaN,711116.000,...,NaN,1975.696,NaN,NaN,NaN,NaN,NaN,NaN,6.150,40.0

In [48]:
# fliter 4th quarter data
df['datafqtr']=df['datafqtr'].str[-1:] #
df1=df[df['datafqtr']=='4']
df1

,LPERMNO,datadate,fyearq,fqtr,datacqtr,datafqtr,scfq,actq,ancq,atq,...,xrdq,xsgaq,capxy,chechy,fincfy,oancfy,rdipy,xrdy,prccq,gsector
1,10015,1983-12-31,1983,4,1983Q4,4,NaN,4.807,9.273,14.080,...,NaN,5.190,NaN,NaN,NaN,NaN,NaN,NaN,7.2500,25.0
5,10015,1984-12-31,1984,4,1984Q4,4,1.0,2.789,13.478,16.267,...,NaN,6.688,5.496,-2.761,NaN,NaN,NaN,NaN,3.7500,25.0
9,10015,1985-12-31,1985,4,1985Q4,4,1.0,3.852,35.643,39.495,...,NaN,12.934,2.006,0.895,NaN,NaN,NaN,NaN,10.1250,25.0
11,10031,1983-12-31,1983,4,1983Q4,4,NaN,8.273,0.256,8.529,...,NaN,1.078,NaN,NaN,NaN,NaN,NaN,NaN,5.2500,25.0
15,10031,1984-12-31,1984,4,1984Q4,4,2.0,7.817,0.424,8.241,...,NaN,1.358,0.302,-1.179,NaN,NaN,NaN,NaN,2.7500,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609999,89198,2001-12-31,2001,4,2001Q4,4,7.0,14976.314,NaN,39103.020,...,NaN,NaN,2534.560,494.145,1090.517,2546.447,NaN,NaN,34.2500,55.0
610001,88822,2000-12-31,2000,4,2000Q4,4,7.0,5144.000,6671.000,11815.000,...,537.000,1890.000,185.000,645.000,-968.000,610.000,NaN,537.000,10.9375,15.0
610005,88822,2001-12-31,2001,4,2001Q4,4,7.0,4320.000,6389.000,10709.000,...,723.000,1236.000,253.000,-468.000,-868.000,548.000,0.0,723.000,10.6000,15.0
610007,89274,2001-12-31,2001,4,2001Q4,4,7.0,3.413,0.114,3.527,...,1.674,NaN,0.115,-1.036,1.555,-2.094,0.0,1.674,14.8500,20.0
610012,75811,2002-03-31,2001,4,2002Q1,4,NaN,NaN,NaN,711116.000,...,NaN,1975.696,NaN,NaN,NaN,NaN,NaN,NaN,6.1500,40.0

In [49]:
# calculation




df1['MV']=df1['prccq']*df1['cshoq']
df1['BV']=df1['atq']-df1['ltq']

# fliter data with zero asset
a=list(df1[df1['atq']==0]['LPERMNO'])
df1 = df1[~df1['LPERMNO'].isin(a)]

b=list(df1[df1['BV']==0]['LPERMNO'])
df1 = df1[~df1['LPERMNO'].isin(b)]

df1['BM']=df1['BV']/df1['MV']
df1['ROA %']=df1['niq']/df1['atq']*100
df1['ROE %']=df1['niq']/df1['BV']*100
df1['Asset']=df1['atq']
df1['Sales']=df1['saleq']
df1['Net income']=df1['niq']


df1['Sales Growth %']=df1['Sales'].diff()/df1['Sales']*100

df1['SRET1 %']=df1['MV'].diff()/df1['MV']*100
df1['SRET12 %']=df1['MV'].diff(2)/df1['MV']*100
df1['CFROA %']=df1['oancfy']/df1['atq']*100
df1['RDINT %']=df1['rdipq']/df1['atq']*100
df1['CAPINT %']=df1['capxy']/df1['atq']*100
df1['ADINT %']=df1['xsgaq']/df1['atq']*100


df1['G1']=0
df1['G2']=0
df1['G3']=0
df1['G4']=0
df1['G5']=0
df1['G6']=0
df1['G7']=0
df1['G8']=0
df1['GScore']=0


df1

,LPERMNO,datadate,fyearq,fqtr,datacqtr,datafqtr,scfq,actq,ancq,atq,...,ADINT %,G1,G2,G3,G4,G5,G6,G7,G8,GScore
1,10015,1983-12-31,1983,4,1983Q4,4,NaN,4.807,9.273,14.080,...,36.860795,0,0,0,0,0,0,0,0,0
5,10015,1984-12-31,1984,4,1984Q4,4,1.0,2.789,13.478,16.267,...,41.113912,0,0,0,0,0,0,0,0,0
9,10015,1985-12-31,1985,4,1985Q4,4,1.0,3.852,35.643,39.495,...,32.748449,0,0,0,0,0,0,0,0,0
11,10031,1983-12-31,1983,4,1983Q4,4,NaN,8.273,0.256,8.529,...,12.639231,0,0,0,0,0,0,0,0,0
15,10031,1984-12-31,1984,4,1984Q4,4,2.0,7.817,0.424,8.241,...,16.478583,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609999,89198,2001-12-31,2001,4,2001Q4,4,7.0,14976.314,NaN,39103.020,...,NaN,0,0,0,0,0,0,0,0,0
610001,88822,2000-12-31,2000,4,2000Q4,4,7.0,5144.000,6671.000,11815.000,...,15.996614,0,0,0,0,0,0,0,0,0
610005,88822,2001-12-31,2001,4,2001Q4,4,7.0,4320.000,6389.000,10709.000,...,11.541694,0,0,0,0,0,0,0,0,0
610007,89274,2001-12-31,2001,4,2001Q4,4,7.0,3.413,0.114,3.527,...,NaN,0,0,0,0,0,0,0,0,0
610012,75811,2002-03-31,2001,4,2002Q1,4,NaN,NaN,NaN,711116.000,...,0.277830,0,0,0,0,0,0,0,0,0

In [55]:
# fliter data with BM <=0 or inf
a=list(df1[(df1['BM']<=0)|(df1['BM']>10)]['LPERMNO'])
df2 = df1[~df1['LPERMNO'].isin(a)]


df2

,LPERMNO,datadate,fyearq,fqtr,datacqtr,datafqtr,scfq,actq,ancq,atq,...,ADINT %,G1,G2,G3,G4,G5,G6,G7,G8,GScore
1,10015,1983-12-31,1983,4,1983Q4,4,NaN,4.807,9.273,14.080,...,36.860795,0,0,0,0,0,0,0,0,0
5,10015,1984-12-31,1984,4,1984Q4,4,1.0,2.789,13.478,16.267,...,41.113912,0,0,0,0,0,0,0,0,0
9,10015,1985-12-31,1985,4,1985Q4,4,1.0,3.852,35.643,39.495,...,32.748449,0,0,0,0,0,0,0,0,0
37,54594,1979-05-31,1978,4,1979Q2,4,NaN,50.103,14.091,64.194,...,6.924323,0,0,0,0,0,0,0,0,0
41,54594,1980-05-31,1979,4,1980Q2,4,NaN,52.722,21.036,73.758,...,6.486076,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609999,89198,2001-12-31,2001,4,2001Q4,4,7.0,14976.314,NaN,39103.020,...,NaN,0,0,0,0,0,0,0,0,0
610001,88822,2000-12-31,2000,4,2000Q4,4,7.0,5144.000,6671.000,11815.000,...,15.996614,0,0,0,0,0,0,0,0,0
610005,88822,2001-12-31,2001,4,2001Q4,4,7.0,4320.000,6389.000,10709.000,...,11.541694,0,0,0,0,0,0,0,0,0
610007,89274,2001-12-31,2001,4,2001Q4,4,7.0,3.413,0.114,3.527,...,NaN,0,0,0,0,0,0,0,0,0
610012,75811,2002-03-31,2001,4,2002Q1,4,NaN,NaN,NaN,711116.000,...,0.277830,0,0,0,0,0,0,0,0,0

In [56]:
# fliter all firms less than 2 years of financial statement
gp = df2.groupby('LPERMNO').aggregate(np.count_nonzero)

tf = gp[gp.datafqtr > 2].reset_index()
Permno=list(tf['LPERMNO'])
df3=df2[df2['LPERMNO'].isin(Permno)]

df3

,LPERMNO,datadate,fyearq,fqtr,datacqtr,datafqtr,scfq,actq,ancq,atq,...,ADINT %,G1,G2,G3,G4,G5,G6,G7,G8,GScore
1,10015,1983-12-31,1983,4,1983Q4,4,NaN,4.807,9.273,14.080,...,36.860795,0,0,0,0,0,0,0,0,0
5,10015,1984-12-31,1984,4,1984Q4,4,1.0,2.789,13.478,16.267,...,41.113912,0,0,0,0,0,0,0,0,0
9,10015,1985-12-31,1985,4,1985Q4,4,1.0,3.852,35.643,39.495,...,32.748449,0,0,0,0,0,0,0,0,0
37,54594,1979-05-31,1978,4,1979Q2,4,NaN,50.103,14.091,64.194,...,6.924323,0,0,0,0,0,0,0,0,0
41,54594,1980-05-31,1979,4,1980Q2,4,NaN,52.722,21.036,73.758,...,6.486076,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609931,87368,2001-12-31,2001,4,2001Q4,4,7.0,1209.646,6617.893,7827.539,...,NaN,0,0,0,0,0,0,0,0,0
609951,86750,1999-12-31,1999,4,1999Q4,4,7.0,149.821,188.962,338.783,...,NaN,0,0,0,0,0,0,0,0,0
609955,86750,2000-12-31,2000,4,2000Q4,4,7.0,190.827,186.332,377.159,...,8.319833,0,0,0,0,0,0,0,0,0
609959,86750,2001-12-31,2001,4,2001Q4,4,7.0,205.152,179.967,385.119,...,NaN,0,0,0,0,0,0,0,0,0
610012,75811,2002-03-31,2001,4,2002Q1,4,NaN,NaN,NaN,711116.000,...,0.277830,0,0,0,0,0,0,0,0,0

In [57]:
#Table 1 - descriptitve statistics for all 
print('All firms  Observation =',len(df3))
print('          Mean')
print(df3[df3.columns[31:39]].mean())
print('\n        Median')
print(df3[df3.columns[31:39]].median())
print('\n     Standard deviation')
print(df3[df3.columns[31:39]].std())

All firms  Observation = 127387
          Mean
MV            1257.670266
BV             572.986803
BM               0.816813
ROA %           -1.345387
ROE %           -8.884090
Asset         2682.483132
Sales          397.022709
Net income      14.469735
dtype: float64

        Median
MV             89.711375
BV             55.735000
BM              0.640760
ROA %           0.763009
ROE %           2.355504
Asset         133.280000
Sales          28.100000
Net income      0.925000
dtype: float64

     Standard deviation
MV             7973.176195
BV             2707.854855
BM                0.732195
ROA %            27.202133
ROE %           357.144231
Asset         18196.817816
Sales          2429.154385
Net income      162.685454
dtype: float64

In [58]:
# Table 1 - descriptitve statistics for low BM


df4=df3[df3['BM']<=df3['BM'].quantile(0.2)]
print('Low BM firms  Observation =',len(df4))

print('          Mean')
print(df4[df4.columns[31:39]].mean())
print('\n        Median')
print(df4[df4.columns[31:39]].median())
print('\n     Standard deviation')
print(df4[df4.columns[31:39]].std())

Low BM firms  Observation = 23221
          Mean
MV            3074.763533
BV             515.666129
BM               0.190579
ROA %           -3.579393
ROE %          -36.703109
Asset         2099.560705
Sales          394.187359
Net income      25.045563
dtype: float64

        Median
MV            178.541375
BV             32.744000
BM              0.198854
ROA %           1.418223
ROE %           3.322888
Asset          59.929000
Sales          14.679500
Net income      0.720000
dtype: float64

     Standard deviation
MV            15965.972839
BV             2544.278221
BM                0.079116
ROA %            29.098896
ROE %           797.262109
Asset         19774.335336
Sales          2127.745070
Net income      175.829859
dtype: float64

In [59]:
# Table 1 - descriptitve statistics for high BM

df5=df3[df3['BM']>=df3['BM'].quantile(0.8)]

print('High BM firms  Observation =',len(df5))

print('          Mean')
print(df5[df5.columns[31:39]].mean())
print('\n        Median')
print(df5[df5.columns[31:39]].median())
print('\n     Standard deviation')
print(df5[df5.columns[31:39]].std())

High BM firms  Observation = 23221
          Mean
MV             280.282981
BV             430.138822
BM               1.884926
ROA %           -1.541603
ROE %           -3.930921
Asset         1990.170395
Sales          262.857987
Net income       2.524677
dtype: float64

        Median
MV             25.630375
BV             43.492000
BM              1.578936
ROA %           0.221518
ROE %           0.965251
Asset         110.492000
Sales          23.345000
Net income      0.244000
dtype: float64

     Standard deviation
MV             1933.972076
BV             2655.473999
BM                0.956081
ROA %            16.768594
ROE %            32.700464
Asset         10149.414095
Sales          1529.204561
Net income      119.891593
dtype: float64

In [60]:
ROA = df3['ROA %'].median() #G1
CFROA = df3['CFROA %'].median()#G2
VARROA = df3['ROA %'].var()
VARSGR=df3['Sales Growth %'].median()
RDINT = df3['RDINT %'].mean()
CAPINT=df3['CAPINT %'].mean()
ADINT=df3['ADINT %'].mean()




for i in range(len(df3)):
    # columns 34, G1 ROA
    if df3.iloc[i,34]>=ROA:
        df3.iloc[i,46]=1
    else:
        df3.iloc[i,46]=0
        
    # G2
    if df3.iloc[i,42]>=CFROA:
        df3.iloc[i,47]=1
    else:
        df3.iloc[i,47]=0
        
    # G3
    if df3.iloc[i,42]>=df3.iloc[i,34]:
        df3.iloc[i,48]=1
    else:
        df3.iloc[i,48]=0     
   
    # G4
    if df3.iloc[i,34]<=VARROA:
        df3.iloc[i,49]=1
    else:
        df3.iloc[i,49]=0   
        
    # G5
    if df3.iloc[i,39]<=VARSGR:
        df3.iloc[i,50]=1
    else:
        df3.iloc[i,50]=0  
        
    # G6
    if df3.iloc[i,43]>=RDINT:
        df3.iloc[i,51]=1
    else:
        df3.iloc[i,51]=0 
        
    # G7
    if df3.iloc[i,44]>=CAPINT:
        df3.iloc[i,52]=1
    else:
        df3.iloc[i,52]=0 
        
    # G8
    if df3.iloc[i,45]>=ADINT:
        df3.iloc[i,53]=1
    else:
        df3.iloc[i,53]=0 
        
    df3.iloc[i,54]=df3.iloc[i,46]+df3.iloc[i,47]+df3.iloc[i,48]+df3.iloc[i,49]+df3.iloc[i,50]+df3.iloc[i,51]+df3.iloc[i,52]+df3.iloc[i,53]

In [61]:
df6=df3[ df3.columns[40:42] | df3.columns[46:55]]
df6.corr()

,G1,G2,G3,G4,G5,G6,G7,G8,GScore,SRET1 %,SRET12 %
G1,1.000000,0.297530,0.152333,0.274697,-0.078087,-0.038016,0.110337,0.118215,0.501637,0.001001,0.002536
G2,0.297530,1.000000,0.721360,0.183984,0.051755,0.106028,0.247832,0.073094,0.711678,0.008786,0.013282
G3,0.152333,0.721360,1.000000,0.252888,0.098004,0.146196,0.224835,0.076922,0.700791,0.010853,0.015834
G4,0.274697,0.183984,0.252888,1.000000,0.262178,0.058102,0.160306,0.183060,0.545616,-0.002789,-0.003706
G5,-0.078087,0.051755,0.098004,0.262178,1.000000,0.086868,-0.001146,0.034823,0.380587,-0.015647,-0.013574
G6,-0.038016,0.106028,0.146196,0.058102,0.086868,1.000000,0.000811,0.015227,0.213668,0.002870,0.004178
G7,0.110337,0.247832,0.224835,0.160306,-0.001146,0.000811,1.000000,0.051787,0.458064,0.005219,0.006073
G8,0.118215,0.073094,0.076922,0.183060,0.034823,0.015227,0.051787,1.000000,0.401189,-0.005908,-0.007462
GScore,0.501637,0.711678,0.700791,0.545616,0.380587,0.213668,0.458064,0.401189,1.000000,0.000857,0.004493
SRET1 %,0.001001,0.008786,0.010853,-0.002789,-0.015647,0.002870,0.005219,-0.005908,0.000857,1.000000,0.889094
SRET12 %,0.002536,0.013282,0.015834,-0.003706,-0.013574,0.004178,0.006073,-0.007462,0.004493,0.889094,1.000000

In [62]:
df7=df3[df3['BM']<=df3['BM'].quantile(0.2)]
df7=df7[ df7.columns[40:42] | df7.columns[46:55]]
df7

        G1  G2  G3  G4  G5  G6  G7  G8  GScore     SRET1 %    SRET12 %
1        1   0   0   1   0   0   0   1       3         NaN         NaN
282      0   0   0   1   0   0   1   0       2  -68.018770  -17.137346
286      0   0   1   1   1   0   0   0       3   21.022098  -32.697701
294      0   0   1   1   0   0   1   0       3   81.188012   94.874227
380      1   1   1   1   0   0   1   1       6   51.197672   67.621054
...     ..  ..  ..  ..  ..  ..  ..  ..     ...         ...         ...
609913   0   0   0   1   1   0   0   0       2 -131.504173 -230.851657
609917   0   0   1   1   1   0   0   0       3 -120.232645 -409.847764
609921   0   0   0   1   0   1   0   0       2  -29.229323 -184.605157
609923   1   1   1   1   0   0   1   0       5   99.943287   99.926710
609927   1   0   1   1   0   0   0   0       3 -287.304641   99.780348

[23221 rows x 11 columns]

In [71]:
df8=df7.dropna()

print('For SRET1\n')

for i in range(8):
    
    
    df9=df8[df8.iloc[:,i]==0]
    #print('G',i+1,'=0')
    A=list(df9.iloc[:,i])
    B=list(df9.iloc[:,9])
    #print(' t-statistic =',ttest_rel(A,B)[0],'\n')
    
    df9=df8[df8.iloc[:,i]==1]
    #print('G',i+1,'=1')
    A=list(df9.iloc[:,i])
    B=list(df9.iloc[:,9])
    AA=df8.iloc[:,i]
    BB=df8.iloc[:,9]   
    print('G=',i+1)
    print(' t-statistic =',ttest_rel(AA,BB)[0],'\n')
    
print('\n \n')
print('For SRET12\n')

for i in range(8):
    
    
    df9=df8[df8.iloc[:,i]==0]
    #print('G',i+1,'=0')
    A=list(df9.iloc[:,i])
    B=list(df9.iloc[:,10])
    #print(' t-statistic =',ttest_rel(A,B)[0],'\n')
    
    df9=df8[df8.iloc[:,i]==1]
    #print('G',i+1,'=1')
    A=list(df9.iloc[:,i])
    B=list(df9.iloc[:,10])
    
    AA=df8.iloc[:,i]
    BB=df8.iloc[:,10]
    print('G=',i+1)
    print(' t-statistic =',ttest_rel(AA,BB)[0],'\n')

For SRET1

G= 1
 t-statistic = 2.130084142938342

G= 2
 t-statistic = 2.129762910990669

G= 3
 t-statistic = 2.129990948238127

G= 4
 t-statistic = 2.130921851190891

G= 5
 t-statistic = 2.1297390807457144

G= 6
 t-statistic = 2.129110937777145

G= 7
 t-statistic = 2.1296572811448056

G= 8
 t-statistic = 2.1298501436994113




For SRET12

G= 1
 t-statistic = 3.057664258870852

G= 2
 t-statistic = 3.057353375734715

G= 3
 t-statistic = 3.0575741478976055

G= 4
 t-statistic = 3.0584751096139806

G= 5
 t-statistic = 3.0573301151887136

G= 6
 t-statistic = 3.0567221252787586

G= 7
 t-statistic = 3.0572510526746264

G= 8
 t-statistic = 3.057437748619967

In [83]:
print('For SRET1\n')

for i in range(9):
    
    a=df7[df7['GScore']==i]
    
    a=a.replace([np.inf, -np.inf], np.nan)
    a=a.dropna()
    mean=a['SRET1 %'].mean()
    c=a['SRET1 %'].quantile(0.1)
    d=a['SRET1 %'].quantile(0.25)
    Median = a['SRET1 %'].quantile(0.5)
    e=a['SRET1 %'].quantile(0.75)
    f=a['SRET1 %'].quantile(0.9)
  
    
    print('Gscore  = ',i)
    print('N = ',len(a))
    print('Mean = ', mean)
    print('10% = ',c)
    print('25% = ',d)
    print('Median  = ',Median)
    print('75% = ',e)
    print('90% = ',f)

For SRET1

Gscore  =  0
N =  42
Mean =  -608.5333791073397
10% =  -140.57994770208725
25% =  -64.02971922558152
Median  =  25.633775262580983
75% =  63.51371478077173
90% =  90.1672710067337
Gscore  =  1
N =  1324
Mean =  -1.8879424665296103
10% =  -72.17001527044707
25% =  -7.790489102096144
Median  =  33.24577448815901
75% =  59.99561684443553
90% =  81.31550061807746
Gscore  =  2
N =  4428
Mean =  -991.3592846737579
10% =  -120.22194094693279
25% =  -16.245661341080478
Median  =  27.93733153780607
75% =  59.72326191705386
90% =  82.66353080020147
Gscore  =  3
N =  5411
Mean =  -3558.845312713533
10% =  -150.7648683527353
25% =  -21.054618902675543
Median  =  25.504757331023995
75% =  57.56977580234522
90% =  81.45649017471366
Gscore  =  4
N =  4470
Mean =  -257.2561526029922
10% =  -94.55170897367391
25% =  -9.371775258890604
Median  =  25.849609912510473
75% =  51.59519416301737
90% =  75.00115696225458
Gscore  =  5
N =  4253
Mean =  -110.49447346651306
10% =  -40.907597586889985
25% =  0.9513243566016379
Median  =  27.285520254359696
75% =  51.82406750723055
90% =  74.43759846477538
Gscore  =  6
N =  2343
Mean =  -42.25301644292704
10% =  -37.74716315109322
25% =  -3.6464670623657396
Median  =  19.727401767855994
75% =  43.71962414437019
90% =  65.68987319398134
Gscore  =  7
N =  431
Mean =  -76.52071653931726
10% =  -57.553035010690714
25% =  -12.49594423685723
Median  =  9.954789605151992
75% =  30.221286677090816
90% =  49.24001618809653
Gscore  =  8
N =  25
Mean =  -16.737475291723804
10% =  -101.94205679519354
25% =  -12.681775316465535
Median  =  0.11303248275601593
75% =  17.394249586030412
90% =  30.316009191715015

In [84]:
print(' For SRET12\n')

for i in range(9):
    
    a=df7[df7['GScore']==i]
    a=a.replace([np.inf, -np.inf], np.nan)
    a=a.dropna()
    mean=a['SRET12 %'].mean()
    c=a['SRET12 %'].quantile(0.1)
    d=a['SRET12 %'].quantile(0.25)
    Median = a['SRET12 %'].quantile(0.5)
    e=a['SRET12 %'].quantile(0.75)
    f=a['SRET12 %'].quantile(0.9)
  
    
    print('Gscore  = ',i)
    print('N = ',len(a))
    print('Mean = ', mean)
    print('10% = ',c)
    print('25% = ',d)
    print('Median  = ',Median)
    print('75% = ',e)
    print('90% = ',f)

 For SRET12

Gscore  =  0
N =  42
Mean =  -647.3580962754653
10% =  -383.31518342498464
25% =  -140.07012898250298
Median  =  15.67662200240908
75% =  75.10434118339626
90% =  91.45766744281255
Gscore  =  1
N =  1324
Mean =  -3571.2769835239114
10% =  -221.16751708139807
25% =  -30.70426570458403
Median  =  45.46800611968385
75% =  71.74290940085562
90% =  90.44543286867206
Gscore  =  2
N =  4428
Mean =  -2029.5849224444582
10% =  -361.91074852547104
25% =  -40.100643018331176
Median  =  39.374946243466134
75% =  73.48842233780123
90% =  91.1776339606211
Gscore  =  3
N =  5411
Mean =  -3797.9749276042844
10% =  -398.21266428972785
25% =  -38.42543618658074
Median  =  37.892156862745104
75% =  72.8473691518762
90% =  89.8738800653536
Gscore  =  4
N =  4470
Mean =  -453.72559578662674
10% =  -208.55732603818163
25% =  -11.5041889700733
Median  =  40.45763581300616
75% =  69.0841779730629
90% =  87.93168313153014
Gscore  =  5
N =  4253
Mean =  -265.26991329335254
10% =  -56.30383513335877
25% =  11.166741352351165
Median  =  42.83559628006313
75% =  68.93459756296481
90% =  86.80688182489608
Gscore  =  6
N =  2343
Mean =  -94.57987818831546
10% =  -46.983503523920945
25% =  4.861900866540022
Median  =  35.997559548281465
75% =  61.39019359105129
90% =  81.92675840560227
Gscore  =  7
N =  431
Mean =  -93.46292510168087
10% =  -60.57738259456187
25% =  -13.221093994329742
Median  =  21.262120751675198
75% =  44.806542757717914
90% =  60.89478409465521
Gscore  =  8
N =  25
Mean =  5.580121107698169
10% =  -44.99434522360389
25% =  -3.606433159535629
Median  =  16.942072753148324
75% =  46.13944013625817
90% =  61.8330910313444

In [85]:
df10=df3[ df3.columns[40:42] | df3.columns[46:55]| df3.columns[2:3]]

df10

        G1  G2  G3  G4  G5  G6  G7  G8  GScore     SRET1 %    SRET12 %  fyearq
1        1   0   0   1   0   0   0   1       3         NaN         NaN    1983
5        0   0   0   1   0   0   1   1       3  -93.333333         NaN    1984
9        1   0   0   1   0   0   0   1       3   66.863554   35.936204    1985
37       1   0   0   1   0   0   0   0       2   73.126221   57.769776    1978
41       1   0   0   1   1   0   0   0       3   27.681952   80.565408    1979
...     ..  ..  ..  ..  ..  ..  ..  ..     ...         ...         ...     ...
609931   0   0   1   1   1   1   0   0       4 -138.281182 -822.874074    2001
609951   1   0   1   1   0   0   0   0       3  -74.466985         NaN    1999
609955   1   1   1   1   1   1   0   0       6  -42.829235 -149.189860    2000
609959   0   0   1   1   1   1   0   0       4  -12.138626  -60.166742    2001
610012   0   0   0   1   0   0   0   0       1   99.082732   84.319389    2001

[127387 rows x 12 columns]

In [90]:
table6 = pd.DataFrame(columns=['Year','High N', 'High Mean', 'Low N','Low Mean', 't-statistic'], index=range(23))

high=df10['GScore'].quantile(0.9)
low=df10['GScore'].quantile(0.1)


for i in range(1979,2002):
    table6['Year'][i-1979]=i
    
    a=df10[df10['fyearq']==i]
    
    a=a.replace([np.inf, -np.inf], np.nan)
    a=a.dropna()
    
    table6['High N'][i-1979] = len(a[a['GScore']>=high])
    table6['High Mean'][i-1979] = a[a['GScore']>=high]['SRET1 %'].mean()
    
    
    
    table6['Low N'][i-1979] = len(a[a['GScore']<=low])
    table6['Low Mean'][i-1979] = a[a['GScore']<=high]['SRET1 %'].mean()
    
    c=a.replace([np.inf, -np.inf], np.nan)
    b=c.dropna()
    AA=b['GScore']
    BB=b['SRET1 %']
    t=ttest_rel(AA,BB)[0]
    table6['t-statistic'][i-1979] = t

In [91]:
table6

    Year High N    High Mean Low N     Low Mean t-statistic
0   1979      0          NaN   323  -604.065209    1.717996
1   1980      0          NaN   296   -51.329318    2.338952
2   1981      0          NaN   368  -9078.87928     3.39762
3   1982      1    -8.333333   457 -7277.400684    2.692187
4   1983      0          NaN   624  -537.759106    3.227049
5   1984    128 -6503.651671   584  -5712.16688    1.285407
6   1985    124  -3647.91755   510  -435.247276    2.845514
7   1986     97  -1430.63313   623  -524.744113    2.851291
8   1987    341 -1472.148209   832  -874.912945    2.287378
9   1988   1414  -269.928365   798  -207.545164    2.700241
10  1989   1499  -2318.52132   840 -1034.971659    1.617974
11  1990   1635  -103.090962   855  -284.196963    3.332455
12  1991   1680   -50.803101   896   -141.60946    4.830585
13  1992   1694  -117.780886  1052     -317.775    1.478655
14  1993   1795   -84.995372   930  -169.916892    4.503801
15  1994   1880   -106.40271   807   -232.90438      2.6191
16  1995   1964    -38.17109  1253  -220.210356    2.452319
17  1996   2155   -92.771814  1094   -86.619183    4.582689
18  1997   2120   -94.235336  1167     -55.9433    2.868556
19  1998   2026   -78.999274  1062  -144.374468    4.121006
20  1999   1845   -32.729748  1112    -56.26459    5.862678
21  2000   1636   -52.753668  1240  -102.417864   16.985103
22  2001   2778   -26.258589   591   -35.380142   13.107564

In [666]:
df3[df3.columns[15:35]]

,niq,rdipaq,rdipq,saleq,teqq,tfvaq,xrdq,xsgaq,capxy,chechy,fincfy,oancfy,rdipy,xrdy,prccq,gsector,MV,BV,BM,ROA %
1,0.249,NaN,NaN,8.166,NaN,NaN,NaN,5.190,NaN,NaN,NaN,NaN,NaN,NaN,7.250,25.0,25.86800,7.823,0.302420,1.768466
5,0.053,NaN,NaN,9.956,NaN,NaN,NaN,6.688,5.496,-2.761,NaN,NaN,NaN,NaN,3.750,25.0,13.38000,8.962,0.669806,0.325813
9,0.527,NaN,NaN,20.258,NaN,NaN,NaN,12.934,2.006,0.895,NaN,NaN,NaN,NaN,10.125,25.0,40.37850,13.014,0.322300,1.334346
11,0.403,NaN,NaN,4.661,NaN,NaN,NaN,1.078,NaN,NaN,NaN,NaN,NaN,NaN,5.250,25.0,14.08575,6.095,0.432707,4.725056
15,0.126,NaN,NaN,5.316,NaN,NaN,NaN,1.358,0.302,-1.179,NaN,NaN,NaN,NaN,2.750,25.0,7.37825,6.482,0.878528,1.528941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609959,1.218,NaN,0.0,84.685,NaN,NaN,3.465,NaN,11.984,8.848,22.689,12.241,0.0,3.465,15.750,25.0,249.63750,137.607,0.551227,0.316266
609985,-58.572,NaN,NaN,12.411,NaN,NaN,NaN,38.088,114.223,419.509,619.384,-57.303,NaN,NaN,65.125,50.0,3812.80825,142.007,0.037245,-6.386208
609989,127.777,NaN,NaN,38.484,NaN,NaN,NaN,49.193,190.630,-1.153,241.552,-177.461,NaN,NaN,10.750,50.0,687.87100,135.288,0.196676,10.471937
609993,-46.565,NaN,0.0,46.466,NaN,NaN,NaN,30.663,155.795,-228.487,37.165,-156.089,0.0,NaN,5.600,50.0,362.70640,-27.230,-0.075074,-4.863389
610012,-1617.936,NaN,NaN,8415.923,NaN,NaN,NaN,1975.696,NaN,NaN,NaN,NaN,NaN,NaN,6.150,40.0,34272.89835,19793.000,0.577512,-0.227521

In [123]:
df11=df3[df3.columns[31:34]|df3.columns[15:16]|df3.columns[26:27]|df3.columns[54:55]|df3.columns[40:45]]
df11['MOM']=df11['SRET1 %']/2
df11['ACCR']=0



for i in range(len(df11)):
    if df.iloc[i,9]>df.iloc[i,10]:
        df.iloc[i,12]=1
    else:
        df.iloc[i,12]=0


df11['Size']=np.log(df11['MV'])
df11=df11.dropna()

In [124]:
x=df11[df11.columns[0:1]|df11.columns[4:5]|df11.columns[11:14]|df11.columns[7:8]]

y=df11[df11.columns[7:8]]

df12=x

In [125]:
x = sm.add_constant(df12.iloc[:,1:])
y = df12['SRET1 %']
model = sm.OLS(y, x)   
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                SRET1 %   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.180e+33
Date:                Fri, 08 Dec 2023   Prob (F-statistic):               0.00
Time:                        13:27:39   Log-Likelihood:             1.2907e+05
No. Observations:                4583   AIC:                        -2.581e+05
Df Residuals:                    4578   BIC:                        -2.581e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.155e-13   1.01e-14    -11.426      0.000   -1.35e-13   -9.57e-14
BM          1.084e-13   2.54e-15     42.588      0.000    1.03e-13    1.13e-13
GScore     -2.442e-15   1.62e-15     -1.508      0.132   -5.62e-15    7.33e-16
MOM            0.4000   3.15e-18   1.27e+17      0.000       0.400       0.400
SRET1 %        0.8000    6.3e-18   1.27e+17      0.000       0.800       0.800
Size       -7.994e-15   1.03e-15     -7.796      0.000      -1e-14   -5.98e-15
==============================================================================
Omnibus:                     3668.914   Durbin-Watson:                   1.427
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           124580.162
Skew:                          -3.582   Prob(JB):                         0.00
Kurtosis:                      27.517   Cond. No.                     1.41e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.18e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [106]:
df11

,BM,BV,CAPINT %,CFROA %,GScore,MV,RDINT %,SRET1 %,SRET12 %,niq,oancfy,MOM,ACCR,Size
129,0.850908,310.235,1.705437,-4.690939,3,364.592800,0.000000,-3.435394,-2.237860,-2.651,-33.315,-1.717697,0,5.898781
412,0.525419,1893.400,9.649158,3.800456,5,3603.600000,0.000000,-356.908716,-98.728353,-176.900,95.000,-178.454358,0,8.189689
838,0.760628,891.616,3.566808,4.995130,3,1172.211100,-1.575936,-50.518047,22.317768,-80.235,119.384,-25.259023,0,7.066647
1230,1.559645,5373.000,11.083706,1.555982,5,3445.015500,0.000000,-72.973643,-188.312636,-798.000,511.000,-36.486822,0,8.144684
1528,0.407194,255.121,4.284259,15.216018,6,626.535000,0.000000,-120.643001,41.925950,4.174,47.208,-60.321500,0,6.440205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609908,1.080548,201.876,3.632064,7.739226,5,186.827340,0.000000,-42.913906,-63.988512,1.337,32.889,-21.456953,0,5.230185
609921,0.076246,2.162,1.007150,-37.183712,2,28.355600,0.000000,-29.229323,-184.605157,0.126,-11.962,-14.614662,0,3.344825
609931,0.753785,4083.779,4.082330,2.240168,4,5417.694720,0.000000,-138.281182,-822.874074,42.856,175.350,-69.140591,0,8.597426
609955,0.494684,138.482,2.907792,10.679846,6,279.940063,0.000000,-42.829235,-149.189860,6.892,40.280,-21.414618,0,5.634576
609959,0.551227,137.607,3.111765,3.178498,4,249.637500,0.000000,-12.138626,-60.166742,1.218,12.241,-6.069313,0,5.520010

In [122]:

x

        const        BM  GScore        MOM     SRET1 %
5         1.0  0.669806       3 -46.666667  -93.333333
9         1.0  0.322300       3  33.431777   66.863554
37        1.0  1.206766       2  36.563111   73.126221
41        1.0  1.063030       3  13.840976   27.681952
45        1.0  1.065069       2   6.711990   13.423980
...       ...       ...     ...        ...         ...
609931    1.0  0.753785       4 -69.140591 -138.281182
609951    1.0  0.318435       3 -37.233492  -74.466985
609955    1.0  0.494684       6 -21.414618  -42.829235
609959    1.0  0.551227       4  -6.069313  -12.138626
610012    1.0  0.577512       1  49.541366   99.082732

[115175 rows x 5 columns]

1                NaN
5         -93.333333
9          66.863554
37         73.126221
41         27.681952
             ...
609931   -138.281182
609951    -74.466985
609955    -42.829235
609959    -12.138626
610012     99.082732
Name: SRET1 %, Length: 127387, dtype: float64